extends /layout/tcap

block style
  meta(property="og:url", content=`${baseurl}tcap/`)

block content
  #app(v-cloak)
    .container.py-3.d-flex.flex-column.min-vh-100
      h2.text-center 預約資訊
      h3 設施 A
      p 日期：10/10#[br]時間：14:00#[br]姓名：XXX#[br]成人：2#[br]兒童：2
      .mt-auto.mb-3
        .row.mt-2
          .col: button.btn.btn-lg.btn-block.btn-secondary(type="button", @click="btnAlert") 取消預約
          .col: a.btn.btn-lg.btn-block.btn-secondary(href="page-2-2.html") 新增預約
        a.btn.btn-lg.btn-block.btn-secondary.mt-3(href="page-1-9.html") 回預約設施清單

block script
  script.
    window.vm = new Vue({
      el: '#app',
      methods: {
        async btnAlert () {
          const yn = await Swal.fire({
            cancelButtonText: '否',
            confirmButtonText: '是',
            showCancelButton: true,
            text: '請確認是否取消此次預約',
            title: '取消預約',
          })
          if (!yn.value) return
          location.href = 'page-1-9.html'
        },
      },
    })
