extends /layout/tcap

block beforehtml
  -
    function httpBuildQuery(obj) {
      const a = new URL('https://a/')
      Object.keys(obj).forEach(key => {
        a.searchParams.set(key, obj[key])
      })
      return a.href.substring(11)
    }

block style
  meta(property="og:url", content=`${baseurl}tcap/`)

block content
  #app
    .container.d-flex.flex-column.min-vh-100
      h1.my-3.text-center 兒童新樂園#[br]預約平台
      img.mb-3.w-100(src="https://i.imgur.com/ZCk6zQI.jpeg")
      p 歡迎使用LINE綁定，未來可直接預約，並同時享有多項優惠與活動機會。
      p 若無LINE可選擇Google預約。
      .mt-auto.mb-3
        a.btn.btn-lg.btn-block.btn-secondary.mt-3(href=`oauth_line.html?${httpBuildQuery({ redirect: baseurl + 'tcap/page-1-4.html' })}`) LINE
        a.btn.btn-lg.btn-block.btn-secondary.mt-3(href="page-1-5.html") GOOGLE
