extends /layout/tcap

block style
  meta(property="og:url", content=`${baseurl}tcap/`)
  style
    :sass
      .aspect-ratio-box
        height: 0
        overflow: hidden
        position: relative
      .aspect-ratio-box-inside
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
      .booking
        background-color: #f2f6f9
      .booking-progress
        .booking-progress-bar
          padding: 0 32px
        .booking-progress-circle
          width: 16px
          height: 16px
          border: 2px solid rgba(112,112,112,.6)
        .booking-progress-circle.active
          border: 2px solid #4478dd
        .booking-progress-circle.finished
          border: 5px solid #4478dd
        .booking-progress-line
          height: 2px
          background-color: rgba(112,112,112,.6)
        .booking-progress-line.finished
          background-color: #4478dd
        .booking-progress-label
          width: 80px
          font-size: .8rem
          white-space: nowrap
          color: rgb(112,112,112)
        .booking-progress-label.finished
          color: #4478dd

block content
  #app
    .container-fluid.px-0.d-flex.flex-column.min-vh-100(style="background-color: #4478dd")
      .aspect-ratio-box(style="padding-top: calc(250 / 375 * 100%)")
        h1.aspect-ratio-box-inside.text-center.text-white.mb-0.pt-4 預約入園
      .booking.flex-fill.d-flex.flex-column.rounded-top.px-3
        .booking-progress.mt-4
          .booking-progress-bar.d-flex.align-items-center
            .booking-progress-circle.rounded-circle.finished
            .booking-progress-line.flex-fill.finished
            .booking-progress-circle.rounded-circle.active
            .booking-progress-line.flex-fill
            .booking-progress-circle.rounded-circle
          .booking-progress-labels.d-flex.justify-content-between.text-center
            .booking-progress-label.finished 入園資訊
            .booking-progress-label.finished 聯絡資訊
            .booking-progress-label 完成
        input.form-control.form-control-lg.mt-3(type="text", placeholder="姓名", v-model="ctx.name")
        input.form-control.form-control-lg.mt-3(type="tel", placeholder="電話", v-model="ctx.phone")
        input.form-control.form-control-lg.mt-3(type="email", placeholder="E-mail", v-model="ctx.email")
        .mt-auto.mb-3
          button.btn.btn-lg.btn-primary.btn-block.mt-3(type="button", @click="btnSubmit") 完成預約

block script
  script.
    window.vm = new Vue({
      el: '#app',
      data: {
        ctx: {
          name: '',
          phone: '',
          email: '',
        },
        h: {},
      },
      async mounted () {
        // 自動儲存功能
        try {
          const saved = JSON.parse(localStorage.getItem('tcap'))
          if (saved) this.$set(this, 'h', { ...this.h, ...saved })
        } catch (err) {}
        this.$watch('h', () => {
          localStorage.setItem('tcap', JSON.stringify(this.h))
        }, { deep: true })
      },
      methods: {
        async btnSubmit () {
          this.$set(this.h, 'submit', {
            ..._.get(this.h, 'submit'),
            checkin: false,
            ctx: this.ctx,
            expand: false,
            games: [],
          })
          this.$set(this.h, 'orders', [
            ..._.get(this.h, 'orders', []),
            this.h.submit,
          ])
          location.href = 'page-1-8-b.html'
        },
      },
    })
