extends /layout/tcap

block style
  meta(property="og:url", content=`${baseurl}tcap/`)

block content
  #app
    .container.d-flex.flex-column.min-vh-100
      h2.my-3.text-center Sorry...
      p 由於您的預約紀錄異常，請您聯絡客服進行預約作業。
      .mt-auto.mb-3
        a.btn.btn-secondary.btn-block.mt-3(href="tel:0228333823") 客服電話
