extends /layout/tcap

block style
  meta(property="og:url", content=`${baseurl}tcap/`)
  style
    :sass
      body
        background-color: #F2F6F9

block content
  #app(v-cloak)
    .container.d-flex.flex-column.min-vh-100
      h2.my-3.mb-3.text-center.title-style 核銷設施預約
      #ticket.card.mb-4
        .card-body
          h4.text-center.text-blue 魔法星際飛車
          img.card-img-top(src="https://i.imgur.com/xIy8FTY.png")
        .line
        .card-body.text-gray
          p.m-0.my-1 入園日期：2021-10-20
          p.m-0.my-1 場次時間：09:20 ~ 09:30
          p.m-0.my-1 成人：2 位
          p.m-0.my-1 兒童：2 位
      p.text-center.text-gray-light 本頁面請工作人員點選，如不慎誤觸「核銷設施」，請自行負責。
      button.mt-auto.mb-3.btn.btn-block.btn-danger(type="button", @click="btnCheckin", v-if="!checkin") 核銷設施
      button.mt-auto.mb-3.btn.btn-block.btn-secondary(type="button", disable, v-else) 核銷成功

block script
  script.
    window.vm = new Vue({
      el: '#app',
      data: {
        checkin: false,
      },
      methods: {
        async btnCheckin () {
          await Swal.fire({
            confirmButtonText: '確定',
            icon: 'success',
            text: '恭喜您完成報到，請注意設施安全守則，並把個人物品放置於安全處，聽從工作人員指揮',
            title: '<h2 class="title-style">設施核銷成功</h2>',
          })
          this.checkin = true
        },
      },
    })
