extends /layout/tcap

block style
  meta(property="og:url", content=`${baseurl}tcap/`)

block content
  #app(v-cloak)

block script
  script.
    window.sleep = t => new Promise(resolve => setTimeout(resolve, t))
    window.vm = new Vue({
      el: '#app',
      async mounted () {
        await Swal.fire({
          icon: 'error',
          title: 'Sorry...',
          text: '由於您的預約紀錄異常，請您聯絡客服進行預約作業。',
        })
        location.href = 'tel:0228333823'
        await window.sleep(1000)
        location.href = 'index.html'
      },
    })
