extends /layout/tcap

block style
  meta(property="og:url", content=`${baseurl}tcap/`)
  style
    :sass
      body
        background-color: #F2F6F9
      .card-body
        min-height: 65px

block content
  #app(v-cloak)
    .container.py-3.d-flex.flex-column.min-vh-100
      h2.text-center.title-style 選擇設施
      .radio1.mt-2
        .custom-control.custom-radio.custom-control-inline
          input#radio1-0.custom-control-input(type="radio", name="radio1", value="0")
          label.custom-control-label(for="radio1-0") 未滿 95 cm
        .custom-control.custom-radio.custom-control-inline
          input#radio1-95.custom-control-input(type="radio", name="radio1", value="95")
          label.custom-control-label(for="radio1-95") 未滿 110 cm
        .custom-control.custom-radio.custom-control-inline
          input#radio1-110.custom-control-input(type="radio", name="radio1", value="110", checked)
          label.custom-control-label(for="radio1-110") 全部
      .form-group.mt-1.mb-0
        select.form-control
          option 遊樂設施 (編號 1~13)
          option 遊樂設施 (K系列)
          option 遊樂場
      .row.mx-n1.mt-2
        .col-6.col-md-3.px-2.my-2
          .card.card-shadow
            img.card-img-top(src="https://i.imgur.com/cixUJLi.png")
            .card-body.py-2.px-3
              .custom-control.custom-checkbox
                input#checkGame1.custom-control-input(type="checkbox", value="game1", v-model="h.selected")
                label.custom-control-label(for="checkGame1") 魔法星際飛車(雲霄飛車)
        .col-6.col-md-3.px-2.my-2
          .card.card-shadow
            img.card-img-top(src="https://i.imgur.com/cixUJLi.png")
            .card-body.py-2.px-3
              .custom-control.custom-checkbox
                input#checkGame2.custom-control-input(type="checkbox", value="game2", v-model="h.selected")
                label.custom-control-label(for="checkGame2") 海洋總動員
        .col-6.col-md-3.px-2.my-2
          .card.card-shadow
            img.card-img-top(src="https://i.imgur.com/cixUJLi.png")
            .card-body.py-2.px-3
              .custom-control.custom-checkbox
                input#checkGame3.custom-control-input(type="checkbox", value="game3", v-model="h.selected")
                label.custom-control-label(for="checkGame3") 摩天輪
        .col-6.col-md-3.px-2.my-2
          .card.card-shadow
            img.card-img-top(src="https://i.imgur.com/cixUJLi.png")
            .card-body.py-2.px-3
              .custom-control.custom-checkbox
                input#checkGame4.custom-control-input(type="checkbox", value="game4", v-model="h.selected")
                label.custom-control-label(for="checkGame4") 銀河號(單軌列車)
        .col-6.col-md-3.px-2.my-2
          .card.card-shadow
            img.card-img-top(src="https://i.imgur.com/cixUJLi.png")
            .card-body.py-2.px-3
              .custom-control.custom-checkbox
                input#checkGame5.custom-control-input(type="checkbox", value="game5", v-model="h.selected")
                label.custom-control-label(for="checkGame5") 飛天神奇號(飛天巴士)
        .col-6.col-md-3.px-2.my-2
          .card.card-shadow
            img.card-img-top(src="https://i.imgur.com/cixUJLi.png")
            .card-body.py-2.px-3
              .custom-control.custom-checkbox
                input#checkGame6.custom-control-input(type="checkbox", value="game6", v-model="h.selected")
                label.custom-control-label(for="checkGame6") 宇宙迴旋(輻射飛椅)
        .col-6.col-md-3.px-2.my-2
          .card.card-shadow
            img.card-img-top(src="https://i.imgur.com/cixUJLi.png")
            .card-body.py-2.px-3
              .custom-control.custom-checkbox
                input#checkGame7.custom-control-input(type="checkbox", value="game7", v-model="h.selected")
                label.custom-control-label(for="checkGame7") 星空小飛碟(旋轉小飛機)
        .col-6.col-md-3.px-2.my-2
          .card.card-shadow
            img.card-img-top(src="https://i.imgur.com/cixUJLi.png")
            .card-body.py-2.px-3
              .custom-control.custom-checkbox
                input#checkGame8.custom-control-input(type="checkbox", value="game8", v-model="h.selected")
                label.custom-control-label(for="checkGame8") 轉轉咖啡杯
        .col-6.col-md-3.px-2.my-2
          .card.card-shadow
            img.card-img-top(src="https://i.imgur.com/cixUJLi.png")
            .card-body.py-2.px-3
              .custom-control.custom-checkbox
                input#checkGame9.custom-control-input(type="checkbox", value="game9", v-model="h.selected")
                label.custom-control-label(for="checkGame9") 巡弋飛椅(迴旋椅)
        .col-6.col-md-3.px-2.my-2
          .card.card-shadow
            img.card-img-top(src="https://i.imgur.com/cixUJLi.png")
            .card-body.py-2.px-3
              .custom-control.custom-checkbox
                input#checkGame10.custom-control-input(type="checkbox", value="game10", v-model="h.selected")
                label.custom-control-label(for="checkGame10") 尋寶船(海盜船)
        .col-6.col-md-3.px-2.my-2
          .card.card-shadow
            img.card-img-top(src="https://i.imgur.com/cixUJLi.png")
            .card-body.py-2.px-3
              .custom-control.custom-checkbox
                input#checkGame11.custom-control-input(type="checkbox", value="game11", v-model="h.selected")
                label.custom-control-label(for="checkGame11") 小飛龍
        .col-6.col-md-3.px-2.my-2
          .card.card-shadow
            img.card-img-top(src="https://i.imgur.com/cixUJLi.png")
            .card-body.py-2.px-3
              .custom-control.custom-checkbox
                input#checkGame12.custom-control-input(type="checkbox", value="game12", v-model="h.selected")
                label.custom-control-label(for="checkGame12") 幸福碰碰車
        .col-6.col-md-3.px-2.my-2
          .card.card-shadow
            img.card-img-top(src="https://i.imgur.com/cixUJLi.png")
            .card-body.py-2.px-3
              .custom-control.custom-checkbox
                input#checkGame13.custom-control-input(type="checkbox", value="game13", v-model="h.selected")
                label.custom-control-label(for="checkGame13") 叢林吼吼樹屋(自由落體)
      .row.mx-n1
        .col-4.px-1: a.btn.btn-block.btn-outline-primary.mt-2(href="page-1-9.html") 回上一頁
        .col-8.px-1: a.btn.btn-block.btn-primary.mt-2(href="page-2-2-1.html") 新增預約

block script
  script.
    window.vm = new Vue({
      el: '#app',
      data: {
        h: {
          selected: [],
        },
      },
      async mounted () {
        // 自動儲存功能
        try {
          const saved = JSON.parse(localStorage.getItem('tcap'))
          if (saved) this.$set(this, 'h', { ...this.h, ...saved })
        } catch (err) {}
        this.$watch('h', () => {
          localStorage.setItem('tcap', JSON.stringify(this.h))
        }, { deep: true })
      },
    })
