extends /layout/tcap

block style
  meta(property="og:url", content=`${baseurl}tcap/`)
  style
    :sass
      .aspect-ratio-box
        height: 0
        overflow: hidden
        position: relative
      .aspect-ratio-box-inside
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
      .booking
        background-color: #f2f6f9
      .booking-progress
        .booking-progress-bar
          padding: 0 32px
        .booking-progress-circle
          width: 16px
          height: 16px
          border: 2px solid rgba(112,112,112,.6)
        .booking-progress-circle.active
          border: 2px solid #4478dd
        .booking-progress-circle.finished
          border: 5px solid #4478dd
        .booking-progress-line
          height: 2px
          background-color: rgba(112,112,112,.6)
        .booking-progress-line.finished
          background-color: #4478dd
        .booking-progress-label
          width: 80px
          font-size: .8rem
          white-space: nowrap
          color: rgb(112,112,112)
        .booking-progress-label.finished
          color: #4478dd
      .ticket
        .ticket-amount
          min-width: 7rem

block content
  #app(v-cloak)
    .container-fluid.px-0.d-flex.flex-column.min-vh-100(style="background-color: #4478dd")
      .aspect-ratio-box(style="padding-top: calc(250 / 375 * 100%)")
        h1.aspect-ratio-box-inside.text-center.text-white.mb-0.pt-4 預約入園
      .booking.flex-fill.d-flex.flex-column.rounded-top.px-3
        .booking-progress.mt-4
          .booking-progress-bar.d-flex.align-items-center
            .booking-progress-circle.rounded-circle.active
            .booking-progress-line.flex-fill
            .booking-progress-circle.rounded-circle
            .booking-progress-line.flex-fill
            .booking-progress-circle.rounded-circle
          .booking-progress-labels.d-flex.justify-content-between.text-center
            .booking-progress-label.finished 入園資訊
            .booking-progress-label 聯絡資訊
            .booking-progress-label 完成
        select.form-control.form-control-lg.mt-3(v-model="date")
          option(v-for="val, key in dateSelectable", :value="key") {{ val }}
        .ticket.d-flex.flex-column
          .d-flex.mt-3.align-items-center(v-for="ticket of tickets")
            .flex-fill.mr-1.d-flex.flex-column.justify-content-center
              .text-blue {{ ticket.title }}
              small.text-gray-light ({{ ticket.type }})
            .ticket-amount
              .input-group
                .input-group-prepend: button.btn.btn-primary(type="button", @click="ticket.amount--", :disabled="ticket.amount < 1"): i.fa.fa-minus
                input.form-control.text-center(type="number", min="0", max="10", v-model.number="ticket.amount")
                .input-group-append: button.btn.btn-primary(type="button", @click="ticket.amount++", :disabled="ticket.amount > 9"): i.fa.fa-plus
        button.btn.btn-lg.btn-primary.btn-block.my-3(type="button", @click="btnSubmit") 下一步

block script
  script(crossorigin="anonymous", src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js")
  script(crossorigin="anonymous", src="https://cdn.jsdelivr.net/npm/dayjs/plugin/utc.min.js")
  script.
    /* global dayjs_plugin_utc */
    dayjs.extend(dayjs_plugin_utc)
    window.vm = new Vue({
      el: '#app',
      data: {
        date: dayjs().utcOffset(8).startOf('day').format('YYYY-MM-DD'),
        tickets: [
          { title: '全票 - NT$30', type: '一般民眾', en: 'normal', amount: 0 },
          { title: '優待票 - NT$15', type: '學生或7~12歲兒童', en: 'student', amount: 0 },
          { title: '免費票 - NT$0', type: '長者或愛心及陪伴者', en: 'freeOld', amount: 0 },
          { title: '免費票 - NT$0', type: '6歲以下幼童', en: 'free6', amount: 0 },
          { title: '免費票 - NT$0', type: '其他', en: 'freeOther', amount: 0 },
        ],
        h: {
          submit: {},
        },
      },
      async mounted () {
        // 自動儲存功能
        try {
          const saved = JSON.parse(localStorage.getItem('tcap'))
          if (saved) this.$set(this, 'h', { ...this.h, ...saved })
        } catch (err) {}
        this.$watch('h', () => {
          localStorage.setItem('tcap', JSON.stringify(this.h))
        }, { deep: true })
      },
      computed: {
        dateSelectable () {
          const today = dayjs().utcOffset(8).startOf('day')
          return _.fromPairs(_.times(7, i => {
            const tmp = today.clone().add(i, 'day')
            return [tmp.format('YYYY-MM-DD'), `${tmp.format('YYYY/MM/DD')} (${'日一二三四五六'[tmp.day()]})`]
          }))
        },
      },
      methods: {
        btnSubmit () {
          this.$set(this.h, 'submit', {
            date: this.date,
            tickets: _.fromPairs(_.map(this.tickets, ticket => [ticket.en, ticket.amount])),
          })
          location.href = 'page-1-8.html'
        },
      },
    })
