extends /layout/tcap

block style
  meta(property="og:url", content=`${baseurl}tcap/`)
  style
    :sass
      body
        background-color: #f2f6f9

block content
  #app(v-cloak)
    .container.d-flex.flex-column.min-vh-100.py-3
      h2.text-center.title-style 預約設施清單
      h1.mt-5.mb-0.text-primary {{ order.date }}
      .text-primary 入園人數：{{ order.total }}
      .mt-5 已預約設施 #[span.badge.badge-pill.badge-info {{ order?.games?.length }} 項]
      .card.border-white.shadow-sm.my-2(v-for="(game, gId) of order.games" :key="gId", @click="btnDel(gId)")
        .card-body.d-flex.flex-column.justify-content-between.p-2
          h4.text-primary {{ game.name }}
          .card-text.d-flex.justify-content-between.text-secondary
            .list-style-tcap {{ game.time }}
            span 成人 {{ game.normal }} / 兒童 {{ game.kid }}
      .my-3
        button.btn.btn-lg.btn-primary.btn-block(@click="btnAdd") 設施預約
        .d-flex.mx-n1
          a.btn.btn-lg.btn-primary.flex-fill.mx-1.mt-2(href="page-1-4.html") 預約紀錄
          button.btn.btn-lg.btn-primary.flex-fill.mx-1.mt-2(type="button", @click="btnShare") 分享行程

block script
  script.
    window.vm = new Vue({
      el: '#app',
      data: {
        order: {},
        h: {},
      },
      async mounted () {
        // 自動儲存功能
        try {
          const saved = JSON.parse(localStorage.getItem('tcap'))
          if (saved) this.$set(this, 'h', { ...this.h, ...saved })
        } catch (err) {}
        this.$watch('h', () => {
          localStorage.setItem('tcap', JSON.stringify(this.h))
        }, { deep: true })

        const date = window.param('date') || this.h.submit.date
        this.$set(this, 'order', _.find(this.h.orders, { date }) || this.h.orders[0])
      },
      methods: {
        async btnAlert () {
          await Swal.fire({ html: '1.請依預約場次於開場前二十分鐘至五分鐘內，全員到齊完成報到程序，逾時視同放棄。<br>2.兒童身高限制在90-150以內，需要成年人陪同。<br>3.入場前請詳細閱讀場地使用限制與安全事項。' })
        },
        async btnShare () {
          const url = new URL('https://liff.line.me/#{liffidFull}/tcap-share.html')
          url.searchParams.set('redirect', window.encodeBase64url('../tcap/page-1-9.html?' + window.httpBuildQuery({ date: this.order.date })))
          location.href = url.href
          return await new Promise(resolve => {}) // 不會結束的 Promise
        },
        async btnDel (gId) {
          const yn = await Swal.fire({
            cancelButtonColor: '#6c757d',
            cancelButtonText: '返回',
            confirmButtonColor: '#dc3545',
            confirmButtonText: '取消設施預約',
            focusCancel: true,
            html: '<div class="text-gray-light">入園日期：2021-10-20<br>場次時間：09:20 ~ 09:30<br>成人：2 位<br>兒童：2 位</div>',
            showCancelButton: true,
            title: '<h2 class="title-style">魔法星際飛車</h2>',
            customClass: { content: 'text-left' },
          })
          if (!yn.value) return
          this.order.games.splice(gId, 1)
        },
        async btnAdd () {
          this.$set(this.h, 'submit', { date: this.order.date })
          location.href = 'page-2-1.html'
        },
      },
    })
