extends /layout/tcap

block style
  meta(property="og:url", content=`${baseurl}tcap/`)
  style
    :sass
      body
        background-color: #F2F6F9
      .card
        border: 0px
        box-shadow: 0 2px 8px rgba(0,0,0, .08)
      img
        height: 15px
        width: 15px

block content
  #app.container.d-flex.flex-column.min-vh-100(v-cloak)
    h2.my-3.text-center.title-style 預約紀錄
    .card.my-2(v-for="(order, oId) of orders", :key="order.date")
      .card-body
        .d-flex.mb-2(@click="order.expand = !order.expand")
          h4.mb-0.card-title.text-blue {{ order.date }}
          img.my-auto.ml-auto(src="https://i.imgur.com/qPiE5TE.png", v-if="order.expand")
          img.my-auto.ml-auto(src="https://i.imgur.com/qGwZEu1.png", v-else)
        .d-flex.text-gray.mb-1(@click="order.expand = !order.expand")
          img.my-auto.mr-1(src="https://i.imgur.com/NAuUBr3.png")
          p.m-0.text-gary 入園人數
          span.ml-auto.text-gary {{ order.total }} 位
        .d-flex.text-gray.mb-1(@click="order.expand = !order.expand")
          img.my-auto.mr-1(src="https://i.imgur.com/NAuUBr3.png")
          p.m-0.text-gary 已預約設施
          span.ml-auto.text-gary {{ order.games.length || 0 }} 項
        .d-flex.text-gray.mx-n1.mt-3(v-if="order.expand")
          button.mx-1.my-0.btn.btn-block.btn-outline-primary(type="button", @click="btnDetail(oId)") 詳細資料
          button.mx-1.my-0.btn.btn-block.btn-outline-primary(type="button", @click="btnAddGame(order.date)", v-if="order.status !== 'expired'") 預約設施
    p.my-2.text-center.text-gray-light 這裡是您的預約紀錄，快點選「新增預約」或「預約設施」來安排行程吧！
    button.my-3.mt-auto.btn.btn-lg.btn-block.btn-primary(type="button", @click="btnAddOrder") 新增預約

block script
  script.
    window.vm = new Vue({
      el: '#app',
      data: {
        h: {
          orders: [],
        },
      },
      async mounted () {
        // 自動儲存功能
        try {
          const saved = JSON.parse(localStorage.getItem('tcap'))
          if (saved) this.$set(this, 'h', { ...this.h, ...saved })
        } catch (err) {}
        this.$watch('h', () => {
          localStorage.setItem('tcap', JSON.stringify(this.h))
        }, { deep: true })
      },
      computed: {
        orders () {
          const now = moment()
          if (!this.h.orders) return []
          const orders = _.orderBy(_.map(this.h.orders, order => ({
            ...order,
            ...this.cpuOrderStatus({ now, order }),
          })), ['date'], ['asc'])
          this.$set(this.h, 'orders', orders)
          return orders
        },
      },
      methods: {
        cpuOrderStatus ({ now, order }) {
          const date = moment(order.date)
          const expired = date.clone().add(1, 'day')
          if (order.checkin) return { status: 'checked' } // 已入園
          if (now > expired) return { status: 'expired' } // 已過期
          if (date < now) return { status: 'normal' } // 待入園
          return { status: 'early' } // 不可入園
        },
        async btnAddOrder () {
          const result = await Swal.fire({
            cancelButtonText: '不同意',
            confirmButtonColor: '#4478dd',
            confirmButtonText: '同意',
            showCancelButton: true,
            html: `<ol>
            <li class="text-left mb-2">請依預約場次於開場前二十分鐘至五分鐘內，全員到齊完成報到程序，逾時視同放棄。</li>
            <li class="text-left mb-2">兒童身高限制在 90-150 以內，需要成年人陪同。</li>
            <li class="text-left">入場前請詳細閱讀場地使用限制與安全事項。</li>
            </ol>`,
            title: '<h2 class="title-style">預約說明</h2>',
            customClass: {
              content: 'px-0',
            },
          })
          if (!result.value) return
          location.href = 'page-1-7.html'
        },
        btnDetail (oId) {
          location.href = 'page-3-1.html?' + window.httpBuildQuery({ oId })
        },
        btnAddGame (date) {
          location.href = 'page-1-9.html?' + window.httpBuildQuery({ date })
        },
      },
    })
