extends /layout/tcap

block style
  meta(property="og:url", content=`${baseurl}tcap/`)

block content
  #app(v-cloak)
    .container.d-flex.flex-column.min-vh-100.py-3
      h2.text-center 設施預約清單
      p.mt-3 可點選已預約設施圖片觀看詳細預約資訊
      .row.mt-2
        .col: button.btn.btn-lg.btn-block.btn-primary(type="button", @click="btnShare") 分享行程
        .col: a.btn.btn-lg.btn-block.btn-secondary(href="page-2-1.html") 新增預約
      h3.mt-4.text-center 已預約設施
      a(href="page-2-4.html"): .card.mt-3
        .card-body.d-flex.justify-content-between
          span 設施B
          span 09:00
      a(href="page-2-4.html"): .card.mt-3
        .card-body.d-flex.justify-content-between
          span 設施A
          span 12:00
      button.btn.btn-lg.btn-block.btn-secondary.mt-auto(type="button", @click="btnAlert") 預約須知

block script
  script.
    window.vm = new Vue({
      el: '#app',
      methods: {
        async btnAlert () {
          await Swal.fire({ html: '1.請依預約場次於開場前二十分鐘至五分鐘內，全員到齊完成報到程序，逾時視同放棄。<br>2.兒童身高限制在90-150以內，需要成年人陪同。<br>3.入場前請詳細閱讀場地使用限制與安全事項。' })
        },
        async btnShare () {
          const url = new URL('https://liff.line.me/#{liffidTcap}')
          url.searchParams.set('redirect', window.encodeBase64url('/tcap/page-1-9.html'))
          location.href = url.href
          return await new Promise(resolve => {}) // 不會結束的 Promise
        },
      },
    })
