extends /layout/tcap

block style
  meta(property="og:url", content=`${baseurl}tcap/`)
  style
    :sass
      body
        background-color: #f2f6f9

block content
  #app(v-cloak)
    .container.d-flex.flex-column.min-vh-100.py-3
      h2.text-center 預約設施清單
      h1.mt-5.mb-0.text-primary 2021-12-01
      .text-primary 入園人數：5
      .mt-5 已預約設施 #[span.badge.badge-pill.badge-info 5 項]
      a(href="page-2-4.html"): .card.border-white.shadow-sm.mt-2
        .card-body.d-flex.flex-column.justify-content-between.p-3
          h4.text-primary 海洋總動員
          .card-text.d-flex.justify-content-between.text-secondary
            span 09:00 ~ 09:30
            span 成人 1 / 兒童 2
      .d-flex.mx-n1.mt-auto
        button.btn.btn-lg.btn-primary.flex-fill.mx-1(type="button", @click="btnShare") 分享行程
        a.btn.btn-lg.btn-primary.flex-fill.mx-1(href="page-2-1.html") 新增預約

block script
  script.
    window.vm = new Vue({
      el: '#app',
      methods: {
        async btnAlert () {
          await Swal.fire({ html: '1.請依預約場次於開場前二十分鐘至五分鐘內，全員到齊完成報到程序，逾時視同放棄。<br>2.兒童身高限制在90-150以內，需要成年人陪同。<br>3.入場前請詳細閱讀場地使用限制與安全事項。' })
        },
        async btnShare () {
          const url = new URL('https://liff.line.me/#{liffidTcap}')
          url.searchParams.set('redirect', window.encodeBase64url('/tcap/page-1-9.html'))
          location.href = url.href
          return await new Promise(resolve => {}) // 不會結束的 Promise
        },
      },
    })
