extends /layout/tcap

block style
  meta(property="og:url", content=`${baseurl}tcap/`)

block content
  #app(v-cloak)

block script
  script.
    window.sleep = t => new Promise(resolve => setTimeout(resolve, t))
    window.vm = new Vue({
      el: '#app',
      async mounted () {
        const yn = await Swal.fire({
          cancelButtonColor: '#4478dd',
          cancelButtonText: '不同意',
          confirmButtonColor: '#4478dd',
          confirmButtonText: '同意',
          html: '<ol class="text-left mb-0"><li>請依預約場次於開場前二十分鐘至五分鐘內，全員到齊完成報到程序，逾時視同放棄。</li><li>兒童身高限制在90-150以內，需要成年人陪同。</li><li>入場前請詳細閱讀場地使用限制與安全事項。</li></ol>',
          reverseButtons: true,
          showCancelButton: true,
          title: '預約說明',
          customClass: {
            content: 'px-0',
          },
        })
        location.href = yn.value ? 'page-1-7.html' : 'page-1-4.html'
      },
    })
