extends /layout/tcap

block style
  meta(property="og:url", content=`${baseurl}tcap/`)

block content
  #app.container.my-4.text-monospace
    h3.text-center 報到完成
    p.mx-2.text-center 恭喜您完成報到，請注意設施安全守則，並把個人物品放置於安全處，聽從工作人員指揮
    .card.my-2
      .card-body
        h5.card-title 設施A
        p.my-2 日期：2021/10/10
        p.my-2 時間：12:00
        p.my-2 姓名：XXX
        p.my-2 成人：2
        p.my-2 兒童：3
    a.btn.btn-primary.btn-block.my-2(href=`${baseurl}tcap/page-1-9.html`) 設施預約清單
